<div class="accordion-left">
  <accordion [isAnimated]="true">
    <!-- Languages -->
    <accordion-group
      heading="Languages."
      [panelClass]="customClass"
      class="accordion-title"
    >
      <div class="accordion-text">
        <p>
          Fluent <strong><span class="default-highlight">English</span></strong>
        </p>
        <p>
          Native
          <strong><span class="default-highlight">Malayalam</span></strong>
        </p>
      </div>
    </accordion-group>

    <!-- University -->
    <accordion-group
      heading="University."
      panelClass="customClass"
      class="accordion-title"
    >
      <div class="accordion-text">
        <p>
          2015 - 2019 - Mar Baselios College of Engineering -
          <strong
            ><span class="default-highlight"
              >Bachelor of Technology in Computer Science</span
            ></strong
          >
        </p>
        <ul>
          <li>
            Relevant Coursework: Data Structures, Algorithms, Database
            Management Systems, Web Development, Software Engineering.
          </li>
        </ul>
      </div>
    </accordion-group>

    <!-- Technical Certifications -->
    <accordion-group
      heading="Technical."
      panelClass="customClass"
      class="accordion-title"
    >
      <div class="accordion-text">
        <ul>
          <li>
            Hands-on experience in building and maintaining applications using
            Angular, React, Python, Django, and Django Rest Framework (DRF).
          </li>
        </ul>
        <p>
          IEEE Computer Society -
          <strong
            ><span class="default-highlight"
              >Secretary, IEEE MBCET EXECOM</span
            ></strong
          >
          - 2017-2018
        </p>
        <ul>
          <li>
            Organized technical events and workshops, fostering collaboration
            and knowledge-sharing among students.
          </li>
        </ul>
      </div>
    </accordion-group>

    <!-- Techs I Use -->
    <accordion-group
      heading="Techs I use."
      panelClass="customClass"
      class="accordion-title"
    >
      <div class="tech-board">
        <!-- Frontend -->
        <div class="tech-cell">
          <i class="devicon-html5-plain"></i>
          <span class="tech-name">HTML</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain"></i>
          <span class="tech-name">CSS</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain"></i>
          <span class="tech-name">Bootstrap</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain"></i>
          <span class="tech-name">JavaScript</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain"></i>
          <span class="tech-name">TypeScript</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain"></i>
          <span class="tech-name">Angular</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-react-plain"></i>
          <span class="tech-name">React</span>
        </div>

        <!-- Backend -->
        <div class="tech-cell">
          <i class="devicon-python-plain"></i>
          <span class="tech-name">Python</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-django-plain"></i>
          <span class="tech-name">Django</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-djangorest-plain"></i>
          <span class="tech-name">Django RestFramework</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-nodejs-plain"></i>
          <span class="tech-name">Node.js</span>
        </div>

        <!-- Databases -->
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark"></i>
          <span class="tech-name">MySQL</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-mongodb-plain-wordmark"></i>
          <span class="tech-name">MongoDB</span>
        </div>

        <!-- Tools -->
        <div class="tech-cell">
          <i class="devicon-git-plain-wordmark"></i>
          <span class="tech-name">Git</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original"></i>
          <span class="tech-name">GitHub</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark"></i>
          <span class="tech-name">Docker</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain"></i>
          <span class="tech-name">VS Code</span>
        </div>
        <div class="tech-cell">
          <i class="devicon-postman-plain"></i>
          <span class="tech-name">Postman</span>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
