<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Jithin Jose, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          Dedicated and skilled professional with a strong foundation in web development and frontend technologies. Eager to contribute to an innovative organization by applying technical knowledge and a proactive approach to solve complex business problems, further develop data science expertise, and grow within the company.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  